tests/http/src/test/resources/http-policy-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:http-policy="http://www.mulesoft.org/schema/mule/http-policy"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
               http://www.mulesoft.org/schema/mule/http-policy http://www.mulesoft.org/schema/mule/http-policy/current/mule-http-policy.xsd">

    <httpn:listener-config name="proxyConfig">
        <httpn:listener-connection host="localhost" port="${proxyPort}"/>
    </httpn:listener-config>

    <httpn:listener-config name="apiConfig">
        <httpn:listener-connection host="localhost" port="${httpPort}"/>
    </httpn:listener-config>

    <httpn:request-config name="requestConfig">
        <httpn:request-connection host="localhost" port="${httpPort}"/>
    </httpn:request-config>

    <flow name="proxyTemplate">
        <httpn:listener config-ref="proxyConfig" path="/*" responseStreamingMode="AUTO" parseRequest="false">
            <httpn:response-builder statusCode="#[message.getAttributes().getStatusCode()]"
                                    reasonPhrase="#[message.getAttributes().getReasonPhrase()]"
                                    headersRef="#[message.getAttributes().getHeaders()]" />
        </httpn:listener>

        <!--<logger message="Logger in the flow with payload #[payload] and variable pepe #[sourcePreVariable]" level="ERROR"/>-->
        <set-variable variableName="flowVar" value="flowVarValue"/>
        <httpn:request config-ref="requestConfig" method="#[message.getAttributes().getMethod()]" path="#[message.getAttributes().getRequestPath()]" parseResponse="false">
            <httpn:request-builder queryParams="#[message.getAttributes().getQueryParams()]" headers="#[message.getAttributes().getHeaders()]"/>
        </httpn:request>
    </flow>

    <flow name="apiFlow">
        <httpn:listener config-ref="apiConfig" path="/*" responseStreamingMode="AUTO" parseRequest="false">
            <httpn:response-builder statusCode="200" />
        </httpn:listener>
        <set-payload value="api response"/>
    </flow>


    <http-policy:policy>
        <http-policy:source>
            <http-policy:source-pre>
                <set-variable variableName="sourcePreVariable" value="source pre variable" />
                <logger message="source-pre" level="ERROR" />
                <set-payload value="myValue"/>
            </http-policy:source-pre>
            <http-policy:source-post>
                <!-- http attributes , body -->
                <logger message="source-post" level="ERROR" />
                <set-payload value="myValue"/>
                <!--<http-policy:response-modifier>-->
                    <!--<http-policy:add-header/>-->
                <!--</http-policy:response-modifier>-->
            </http-policy:source-post>
        </http-policy:source>
        <http-policy:request>
            <http-policy:request-pre>
                <logger message="source pre variable #[sourcePreVariable]" level="ERROR" />
                <!--<logger message="flow var value #[flowVar]" level="ERROR"/>-->
                <set-payload value="myValue"/>
            </http-policy:request-pre>
            <http-policy:request-post>
                <logger message="request-ppst" level="ERROR" />
                <set-payload value="myValue"/>
            </http-policy:request-post>
        </http-policy:request>
    </http-policy:policy>

</mule>
